/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.negreta{
    
    -fx-font-weigth:bold;
}
.hbox{
     -fx-background-color: black;
    
}

.custom-timeslot-cell{
    -fx-background-color: black;
    
}
.label-timeslot-blur{
    -fx-opacity: 0.2;
    -fx-cursor: default !important;
   
    
}


.acept-alert-button{
    
  -fx-background-color: white;
    -fx-border-color: #e3e5ea; 
    -fx-border-width: 1;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-cursor: hand;
    
}

cancel-alert-button{
    
    -fx-background-color: white;
    -fx-border-color: #e3e5ea; 
    -fx-border-width: 1;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-cursor: hand;
}


.disponibilidad-Reserva-Label{
    
    -fx-text-fill:green;
}
.label-timeslot{
   -fx-translate-y: 10px; 
   -fx-translate-x: 50px;
    -fx-text-fill:black;   
    
    
}
.label-timeslot-user{
    
    -fx-translate-y: 10px; 
   -fx-translate-x: 50px;
    -fx-text-fill:#07b8d3;
}
.labelDia{
    
    -fx-background-color: #07d3b0;
}
.button-datepicker:hover{
     -fx-background-color: #d4fff6;
    -fx-border-color: #d4fff6; 
    -fx-border-width: 1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
     -fx-text-fill:black;
    
}
.button-datepicker{
     -fx-background-color: #07d3b0;
    -fx-border-color: #07d3b0; 
    -fx-border-width: 1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
     -fx-text-fill:white;
    
}

.button-booking{
    
    -fx-background-color: #07d3b0;
    -fx-border-color: #07d3b0; 
    -fx-border-width: 1;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
     -fx-text-fill:white;
    
    
}

.button-booking:hover{
    
    -fx-background-color: #d4fff6;
     -fx-text-fill:black;
}

.button-booking-active{
    
     -fx-border-color: #62b8f5; 
     -fx-background-color: #62b8f5 !important;
}

.button-booking-active:hover{
    
    -fx-background-color: #9ed2f7 !important;
}


.time-slot-reserva:hover{
    -fx-background-color: #d4fff6 !important;
    
}

.time-slot-reserva{
    -fx-background-color:  #07d3b0,white;
    -fx-background-insets: 0, 0.5 0.5 0.5 0.5;
    -fx-cursor: hand;
    
}
.time-slot {
    -fx-background-color:  #07d3b0,white;
    -fx-background-insets: 0, 0.5 0.5 0.5 0.5;
    -fx-cursor: hand;
}



.date-picker > .text-field {
    -fx-text-fill: black;
}

