/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2020, 16:33:06
    Author     : DSIC_jsoler
*/

/*.time-slot:hover{
    -fx-background-color: yellow;
    
}*/

.pane{
    
    -fx-opacity: 1;
    -fx-background-color: red;
}

.acept-alert-button{
    
  -fx-background-color: white;
    -fx-border-color: #e3e5ea; /*#c5a768*/
    -fx-border-width: 1;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-cursor: hand;
    
}

cancel-alert-button{
    
    -fx-background-color: white;
    -fx-border-color: #e3e5ea; /*#c5a768*/
    -fx-border-width: 1;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-cursor: hand;
}


.disponibilidad-Reserva-Label{
    
    -fx-text-fill:green;
}
.label-timeslot{
   -fx-translate-y: 10px; 
   -fx-translate-x: 50px;
    -fx-text-fill:red;   /*-fx-background-color: #07d3b0;*/
    
    
}
.label-timeslot-user{
    
    -fx-translate-y: 10px; 
   -fx-translate-x: 50px;
    -fx-text-fill:blue;
}
.labelDia{
    
    -fx-background-color: #07d3b0;
}

.button-datepicker{
     -fx-background-color: #07d3b0;
    -fx-border-color: #07d3b0; 
    -fx-border-width: 1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
     -fx-text-fill:white;
    
}

.button-booking{
    
    -fx-background-color: #07d3b0;
    -fx-border-color: #07d3b0; 
    -fx-border-width: 1;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-cursor: hand;
     -fx-text-fill:white;
    
    
}

.button-booking:hover{
    
    -fx-background-color: #d4fff6;
     -fx-text-fill:black;
}
/*button-booking:active{
    -fx-background-color: #d4fff6;
    
}*/
/*.button-booking:pressed{
    
     
     -fx-background-color: red;
    
}*/
.button-booking-active{
    
     -fx-border-color: #62b8f5; 
     -fx-background-color: #62b8f5 !important;
}

.button-booking-active:hover{
    
    -fx-background-color: #9ed2f7 !important;
}


.time-slot-reserva:hover{
    -fx-background-color: yellow;
    
}
/*.time-slot:hover{
    -fx-background-color: yellow
        
    
}*/
.time-slot-reserva:selected{
    -fx-background-color: green;
    
}
.time-slot {
    -fx-background-color:  #07d3b0 ,white;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;
}

/*.time-slot-libre{
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;

}*/

  
    

/*.time-slot:selected {
    -fx-background-color: green;
}*/

.date-picker > .text-field {
    -fx-text-fill: blue;
}

