/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2020, 16:33:06
    Author     : DSIC_jsoler
*/

/*.time-slot:hover{
    -fx-background-color: yellow;
    
}*/
.time-slot-reserva:hover{
    -fx-background-color: yellow;
    
}

time-slot-reserva{
    -fx-background-color: yellow !important;
    
}
.time-slot {
    -fx-background-color: #FF6D60;
    -fx-cursor: hand;
    /*text*/
    -fx-alignment:center;
    -fx-text-fill: white;
    -fx-font-family: "Caros Soft Bold";
}

.time-slot:hover {
    /*-fx-background-color: yellow;*/
}

.time-slot-libre{
    -fx-background-color: red, #ccccff ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;

}

.time-slot-libre:hover{
    -fx-background-color: yellow ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-cursor: hand;

}

/*.time-slot-libre:hover{
    -fx-background-color: yellow, #ccccff
    
}*/
    
    

.time-slot:selected {
    -fx-background-color: indianred;
}

.date-picker > .text-field {
    -fx-text-fill: blue;
}

.libre {
    -fx-background-color: #8AFF8A !important;
    -fx-border-color: #69d669;
    -fx-border-width: 0.5;
}

.libre:hover {
    -fx-background-color: #69d669 !important;

}


