.BorderPaneInicio{
    -fx-background-image: url("../icons/backgrounds/BackgroundAppLoginReservas.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
        
}

.activeNAV{
    -fx-text-fill: #799c79 !important;
    -fx-border-style: hidden hidden solid hidden !important;
    -fx-border-width: 2 !important;
    -fx-border-color: #c2eec5 !important;
}

.navBar .button {
    -fx-text-fill: #3a4a3a;
    -fx-background-color: none;
    -fx-font-family: "Caros Soft Bold";
    -fx-font-size: 22px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.navBar .button:hover {
    -fx-text-fill: #799c79;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #c2eec5;

}

/*.navBar .button:focus {
    -fx-text-fill: #2f542f;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #2f542f;
}*/

.navBar_loginBtn {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 200px;
    
    -fx-text-fill: white;/*#3a4a3a / f07706 */
    -fx-font-size: 14px;
    
    -fx-background-color: #f07706; /*#a7ffa7*/
    -fx-background-radius: 300px;
    
    -fx-font-family: "Caros Soft Bold";
    -fx-cursor: hand;
}

.navBar_loginBtn:hover{
    -fx-scale-x: 1.05;
    /*-fx-scale-y: 1.05;*/
    /*-fx-scale-z: 1.05;*/
}

.navBar_loginBtn:pressed{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    /*-fx-scale-z: 1.05;*/
}

.hboxFlow {
}

.navBar_btn {
}

.inicioBtnLoginRegister {
}

.loginRegisterActive{
}

.loginWrapper {
    -fx-background-color: #fdfdfd;
    -fx-border-color: #f07706; /*#c5a768*/
    -fx-border-width: 3;
    -fx-border-radius: 16px;
    -fx-background-radius: 19px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.activeLR{
    -fx-border-style: hidden hidden solid hidden !important;
    -fx-border-width: 2 !important;
    -fx-border-color: #f07706!important; /*#c5a768 */
    -fx-text-fill: #f07706!important; /*#c5a768 */
    
}

.navLoginRegister .button {
    -fx-text-fill: #3a4a3a;
    -fx-background-color: none;
    -fx-font-family: "Caros Soft Bold";
    -fx-font-size: 16px;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.navLoginRegister .button:hover {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #f07706; /*#c5a768*/
}

/*.mainWrapper {
    -fx-background-color: rgba(0,0,0,0.6);
}

.rightSide {
    -fx-background-color: rgba(250,0,0,0.6);

}*/

/* ------ INPUTS STYLE ------*/
.inputStyled {
 
    -fx-background-color: none;
    -fx-border-color: #f07706; /*#c5a768*/
    -fx-border-radius: 200px;
    -fx-background-radius: 200px;
    -fx-border-width: 1.5;
    
    -fx-font-family: "Caros Soft Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #f07706;
    -fx-pref-height: 55px;
}

.inputStyled:focused {
    -fx-background-color: rgba(240, 119, 6, 0.1);

}

.loginBtnStyled {
    -fx-text-fill: white;
    -fx-font-family: "Caros Soft Bold";
    
    -fx-background-color: #f07706; /*#c5a768*/
    -fx-background-radius: 500px;
    /*-fx-min-heigth: 30px;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}