.borderPaneProfile{
    -fx-background-image: url("../icons/backgrounds/BackgroundProfile.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
.BorderPane-plot-background {
    -fx-background-color: transparent;
}


.vBoxProfile {
    -fx-background-color: #333333;
}

.button {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-width: 3;

}

.button:hover {
    -fx-background-color: grey;
}

.caros {
    font-family: Caros;
}
    
